VITE_SUPABASE_URL=https://cmfwgghuybmogugstaud.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_nALD_hyVGE9WbOufsV8_Gg_AAi0FT4a
VITE_SUPABASE_ANON_KEY=sb_publishable_nALD_hyVGE9WbOufsV8_Gg_AAi0FT4a
SUPABASE_URL=https://cmfwgghuybmogugstaud.supabase.co
SUPABASE_ANON_KEY=sb_publishable_nALD_hyVGE9WbOufsV8_Gg_AAi0FT4a
SUPABASE_PUBLISHABLE_KEY=sb_publishable_nALD_hyVGE9WbOufsV8_Gg_AAi0FT4a
SUPABASE_SECRET_KEY=sb_secret_HfRzpTAGGQgVeZ9XDhFTzw_F_8tUIH0
SUPABASE_SERVICE_ROLE_KEY=sb_secret_HfRzpTAGGQgVeZ9XDhFTzw_F_8tUIH0
SUPABASE_JWKS_URL=https://cmfwgghuybmogugstaud.supabase.co/auth/v1/.well-known/jwks.json
